:root {
    --primary-colour: rgb(33, 33, 35);
    --secondary-colour: rgb(139, 202, 218);
    --background-colour: white;
    --font-contrast-colour: rgb(25, 25, 25);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: "Poppins" !important;
    /* background: linear-gradient(180deg, #60969B 0%, rgba(96, 150, 155, 0) 100%), #476380;
        box-shadow: inset 0px 0px 36px 17px rgb(0 0 0 / 25%); */
}

#main_body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #60969B 0%, rgba(96, 150, 155, 0) 100%), #476380;
    box-shadow: inset 0px 0px 36px 17px rgba(0, 0, 0, 0.25);
}

.header_bar
{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.158);
}

.company_name_and_logo_div{
    display: inline-flex;
    align-items: center;
}

.company_logo_div{
    display: inline-flex;
    align-items: center;
    margin: 5px 10px;
}

.company_logo_img
{
    height: 50px;
    width: auto;
}

.company_name{

}

.header_right_side{
    display: flex;
    align-items: center;
}

.secure_chain_logo_div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.secure_chain_logo{
    height: 35px;
    width: auto;
}

.upload_modal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background-color: #4b4b4b7a;
}

.modal_div{
    z-index: 999;
    background-color: white;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.158);
    border: 1pt darkgray solid;
    padding: 20px;
    position: relative;

}

input {
    all: unset;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.file_name_input_div{
    display: flex;
    margin-bottom: 10px;
}

.file_description_input_div{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

#file_description_input{
    font-size: 12pt;
    color: #476380;
    resize: none;
    border: none;
    border: solid 1pt darkgray;
}

#file_description_input:focus-visible{
    outline: none;
    border: solid 1pt #476380;
}

.input_border{
    border-bottom: 1pt solid darkgray;
    padding: 0px 5px;
}

#file_name_input
{
    border: none;
    color: #476380;
    width: 350px;
}

.submit_btn{
    background-color:#60969B;
    color: white;
    width: 100%;
    padding: 10px 10px;
    border-radius: 0px;
}

.submit_btn:hover {
    background-color: #476380 !important;
    color: white !important;
}

.underlay{
    position: relative;
    width: 100%;
    height: 100%;
}

.body_section{
    position: relative;
    width: 100%;
    height: 100%;
}

.upload_btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: rgb(235, 235, 235);
    border: solid 1pt darkgray;
    box-shadow: 0px 0px 36px 17px rgb(0 0 0 / 25%);    
    /* border-radius: 10px; */
    padding: 10px 10px;
    transition: 0.5s;
}

.upload_btn:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    transition: 0.25s;
}

.main_content{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: -webkit-fill-available;
}

.file_explorer{
    display: flex;
   
    height: 100%;
    /* background-color: white; */
    /* margin: 10px; */
    padding-right: 5px !important;
    /* width: 30%; */
    padding: 10px;
}

.file_explorer_inner{
    background-color: white;
    display: flex;
    height: -webkit-fill-available;
    min-width: 20vw;
    max-width: 50vw;
    width: 30vw;
    padding: 10px;
    resize: horizontal;
    overflow: auto;
}

.explorer_header{
    border-bottom: 1pt darkgray solid;
    display: flex;
    width: 100%;
    height: min-content;
}

.file_viewer{
    display: flex;
    height: 100%;
    padding-left: 5px !important;
    width: -webkit-fill-available;
    padding: 10px;
}

.file_viewer_inner{
    background-color: white;
    display: flex;
    height: -webkit-fill-available;
    padding: 10px;
    width: 100%;
    flex-direction: column;
}

.viewer_header{
    border-bottom: 1pt darkgray solid;
    display: flex;
    width: 100%;
    height: min-content;
}

.close_btn{
    position: absolute;
    top: 5px;
    right: 5px;
}

.folder_view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.file_div{
    position: relative;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
    max-width: 300px;
    border: solid 1pt #476380;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #60969B;
    align-items: flex-start;
    justify-content: center;
}

.file_meta_name{
    font-size: 10pt;
    font-weight: bold;
}

.file_meta_desc{
    font-size: 8pt;
}